[package]
authors = ["The gtk-rs Project Developers"]
categories = ["api-bindings", "gui"]
description = "Macros helpers for GTK 4 bindings"
documentation = "https://gtk-rs.org/gtk4-rs/stable/latest/docs/gtk4_macros"
edition = "2021"
homepage = "https://gtk-rs.org/"
keywords = ["gtk", "gtk4", "gtk-rs", "gnome", "GUI"]
license = "MIT"
name = "gtk4-macros"
repository = "https://github.com/gtk-rs/gtk4-rs"
version = "0.5.6"
rust-version = "1.63"
[lib]
proc-macro = true

[features]
xml_validation = ["quick-xml"]

[dependencies]
anyhow = "1.0"
quick-xml = {version = "0.27", optional = true}
proc-macro-crate = "1.0"
proc-macro-error = "1.0"
proc-macro2 = "1.0"
quote = "1.0"
syn = {version = "1.0", features = ["full"]}

[dev-dependencies]
futures-channel = "0.3"
futures-util = "0.3"
gtk = { path = "../gtk4", package = "gtk4", version = "0.5.5" }
trybuild2 = "1.0"
