[graph]
exclude = [
    "gtk4-rs-examples",
    "gtk4-rs-book-listings",
]

[advisories]
version = 2
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
ignore = []

[licenses]
version = 2
allow = [
  "MIT",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "ISC",
  "Unicode-3.0"
]
confidence-threshold = 0.8

[bans]
multiple-versions = "deny"
wildcards = "allow"
highlight = "all"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = [
  "https://github.com/gtk-rs/gtk-rs-core",
]

# wayland-scanner depends on an older version
[[bans.skip]]
name = "quick-xml"
version = "0.36.0"
