[options]
girs_dir = "gir-files"
library = "Gsk"
version = "4.0"
min_cfg_version = "3.94"
target_path = "."
work_mode = "normal"
generate_safety_asserts = true
single_version_file = true
deprecate_by_min_version = true

generate = [
    "Gsk.BlendMode",
    "Gsk.BlendNode",
    "Gsk.BlurNode",
    "Gsk.BroadwayRenderer",
    "Gsk.CairoNode",
    "Gsk.CairoRenderer",
    "Gsk.ClipNode",
    "Gsk.ColorMatrixNode",
    "Gsk.ColorNode",
    "Gsk.ContainerNode",
    "Gsk.Corner",
    "Gsk.CrossFadeNode",
    "Gsk.DebugNode",
    "Gsk.GLRenderer",
    "Gsk.InsetShadowNode",
    "Gsk.OpacityNode",
    "Gsk.OutsetShadowNode",
    "Gsk.Renderer",
    "Gsk.RenderNodeType",
    "Gsk.RepeatNode",
    "Gsk.RoundedClipNode",
    "Gsk.ScalingFilter",
    "Gsk.SerializationError",
    "Gsk.TextNode",
    "Gsk.TextureNode",
    "Gsk.Transform",
    "Gsk.TransformCategory",
    "Gsk.TransformNode",
]

manual = [
    # "Pango.GlyphInfo", # missing from pango
    "cairo.Context",
    "cairo.Region",
    "cairo.Surface",
    "Gdk.RGBA",
    "Gdk.Surface",
    "Gdk.Texture",
    "GLib.Bytes",
    "GLib.Error",
    "GLib.Quark",
    "GLib.String",
    "Graphene.Matrix",
    "Graphene.Point",
    "Graphene.Point3D",
    "Graphene.Rect",
    "Graphene.Size",
    "Graphene.Vec3",
    "Graphene.Vec4",
    "Gsk.ColorStop",
    "Gsk.RoundedRect",
    "Gsk.Shadow",
    "Pango.Font",
    "Pango.GlyphString",
]

[[object]]
name = "Gsk.*"
status = "generate"

[[object]]
name = "Gsk.BorderNode"
status = "generate"
manual_traits = ["BorderNodeManualExt"]
    [[object.function]]
    name = "peek_widths"
    # manual, needs fixed-size=4 in gir file
    ignore = true

[[object]]
name = "Gsk.LinearGradientNode"
status = "generate"
    [[object.function]]
    name = "new"
    # manual, uses &[&ColorStop] instead of a &[ColorStop]
    ignore = true

[[object]]
name = "Gsk.RenderNode"
status = "generate"
    [[object.function]]
    name = "draw"
        [[object.function.parameter]]
            name = "cr"
            const = true

[[object]]
name = "Gsk.RepeatingLinearGradientNode"
status = "generate"
    [[object.function]]
    name = "new"
    # manual, uses &[&ColorStop] instead of a &[ColorStop]
    ignore = true

[[object]]
name = "Gsk.ShadowNode"
status = "generate"
    [[object.function]]
    name = "new" 
    # manual, uses &[&Shadow] instead of a &[Shadow]
    ignore = true
    [[object.function]]
    name = "peek_shadow"
    # manual, needs an assertion that the i < n_shadows
    ignore = true

[[object]]
name = "Gsk.VulkanRenderer"
status = "generate"
cfg_condition = "feature = \"vulkan\""