[package]
name = "todo"
version = "0.1.0"
edition = "2024"

[dependencies]
adw = { version = "0.8", package = "libadwaita", features = ["v1_8"] }
gtk = { version = "0.10", package = "gtk4", features = ["v4_12"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
