[package]
authors = ["The gtk-rs Project Developers"]
build = "build.rs"
description = "FFI bindings of GDK4 X11"
documentation = "https://gtk-rs.org/gtk4-rs/git/docs/gdk4_x11_sys/"
edition = "2018"
homepage = "http://gtk-rs.org/"
keywords = ["gdk4", "gdk4-x11", "ffi", "gtk-rs", "gnome"]
license = "MIT"
name = "gdk4-x11-sys"
repository = "https://github.com/gtk-rs/gtk4-rs"
version = "0.2.0"
[package.metadata.system-deps.gtk4_x11]
name = "gtk4-x11"
version = "4.0.0"
[package.metadata.docs.rs]
features = ["dox"]

[lib]
name = "gdk4_x11_sys"

[features]
dox = []

[dependencies]
libc = "0.2"
x11 = "2.18"

[dependencies.gdk4-sys]
path = "../../gdk4/sys"

[dependencies.glib-sys]
git = "https://github.com/gtk-rs/gtk-rs-core.git"

[build-dependencies]
system-deps = "4"

[dev-dependencies]
shell-words = "1.0.0"
tempfile = "3"
