[package]
authors = ["The gtk-rs Project Developers"]
categories = ["api-bindings", "gui"]
description = "Rust bindings of the GTK 4 library"
documentation = "https://gtk-rs.org/gtk4-rs/stable/latest/docs/gtk4"
edition = "2021"
homepage = "https://gtk-rs.org/"
keywords = ["gtk", "gtk4", "gtk-rs", "gnome", "GUI"]
license = "MIT"
name = "gtk4"
readme = "README.md"
repository = "https://github.com/gtk-rs/gtk4-rs"
version = "0.5.0"
rust-version = "1.63"
[lib]
name = "gtk4"

[features]
dox = [
    "ffi/dox",
    "cairo-rs/dox",
    "gdk/dox",
    "gdk-pixbuf/dox",
    "gio/dox",
    "glib/dox",
    "graphene/dox",
    "gsk/dox",
]
v4_2 = ["ffi/v4_2", "gdk/v4_2", "gsk/v4_2"]
v4_4 = ["ffi/v4_4", "v4_2", "gdk/v4_4", "gsk/v4_4"]
v4_6 = ["ffi/v4_6", "v4_4", "gdk/v4_6", "gsk/v4_6", "pango/v1_50"]
v4_8 = ["ffi/v4_8", "v4_6", "gdk/v4_8"]
xml_validation = ["gtk4-macros/xml_validation"]
unsafe-assume-initialized = []

[package.metadata.docs.rs]
features = ["dox"]

[dependencies]
bitflags = "1.0"
cairo-rs = { git = "https://github.com/gtk-rs/gtk-rs-core", version = "0.16" }
ffi = { package = "gtk4-sys", path = "./sys", version = "0.5.0" }
field-offset = "0.3"
futures-channel = "0.3"
gdk = { package = "gdk4", path = "../gdk4", version = "0.5.0" }
gdk-pixbuf = { git = "https://github.com/gtk-rs/gtk-rs-core", version = "0.16" }
gio = { git = "https://github.com/gtk-rs/gtk-rs-core", version = "0.16", features = [
    "v2_66",
] }
glib = { git = "https://github.com/gtk-rs/gtk-rs-core", version = "0.16", features = [
    "v2_66",
] }
graphene = { package = "graphene-rs", git = "https://github.com/gtk-rs/gtk-rs-core", version = "0.16" }
gsk = { package = "gsk4", path = "../gsk4", version = "0.5.0" }
gtk4-macros = { path = "../gtk4-macros", version = "0.5.0" }
libc = "0.2"
once_cell = "1.0"
pango = { git = "https://github.com/gtk-rs/gtk-rs-core", version = "0.16", features = [
    "v1_46",
] }

[dev-dependencies]
gir-format-check = "^0.1"
