custom-button {
    padding: 12px;
    outline: 0 solid transparent;
    outline-offset: 4px;
    transition: outline-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
                outline-width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
                outline-offset 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

custom-button:focus:focus-visible {
    outline-color: rgba(53, 132, 228, 0.5);
    outline-width: 2px;
    outline-offset: -2px;
}
