name: book

on:
  push:
    branches:
      - "main"
    paths:
      - "book/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: build
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2

      - run: mdbook build -d public
        working-directory: book

      - name: Deploy to stable
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/public
          keep_files: false
          destination_dir: stable/latest/book
