name: docs

on:
  push:
    branches: [master]
  pull_request:
  release:
    types: [published]

jobs:
  build-deploy:
    runs-on: ubuntu-20.04
    name: build
    container:
      image: ghcr.io/gtk-rs/gtk4-rs/gtk4:latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
      - working-directory: gir
        run: cargo build --release
      - run: cargo install rustdoc-stripper
      - run: git clone https://gitlab.gnome.org/World/Rust/gir-rustdoc/ # checkout action doesn't support random urls
      - run: python3 ./generator.py --embed-docs --yes ./
      - run: echo "DEST=$(if [ "$GITHUB_EVENT_NAME" == "release" ]; then echo 'stable/${{ github.event.release.tag_name }}'; else echo 'git'; fi)" >> ${GITHUB_ENV}
      - run: echo "RUSTDOCFLAGS=$(eval python3 ./gir-rustdoc/gir-rustdoc.py --pages-url 'https://gtk-rs.org/gtk4-rs/' --default-branch 'master' --branch 'master' pre-docs | xargs)" >> ${GITHUB_ENV}
        env:
          RUSTDOCFLAGS: --extern-html-root-url=wayland_client=https://smithay.github.io/wayland-rs/ --extern-html-root-url=x11=https://docs.rs/x11/latest/
      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: -p gdk4 -p gdk4-sys -p gdk4-wayland -p gdk4-wayland-sys -p gdk4-x11 -p gdk4-x11-sys -p gsk4 -p gsk4-sys -p gtk4 -p gtk4-sys -p gtk4-macros --features "dox" --no-deps

      - name: GTK Docs Images
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'release' }}
        run: |
          git clone --depth=1 https://gitlab.gnome.org/GNOME/gtk --no-checkout ./gtk-src
          cd ./gtk-src
          git sparse-checkout init --cone
          git sparse-checkout set docs/reference/gtk/images
          git checkout master
          mv ./docs/reference/gtk/images/*.png ../target/doc/gtk4
      - name: Grab gtk-rs LOGO
        run: |
          sudo dnf install ImageMagick -y
          wget https://raw.githubusercontent.com/gtk-rs/gtk-rs.github.io/master/logo.svg
          convert -density 1200 -resize 256x256 -background none logo.svg ./target/doc/rust-logo.png
          for size in 16 32 ; do convert -density 1200 -resize "${size}x${size}" -background none logo.svg "./target/doc/favicon-${size}x${size}.png" ; done
          cp logo.svg ./target/doc/favicon.svg
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'release' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc/
          keep_files: false
          destination_dir: ${{ env.DEST }}/docs

      - run: python3 ./gir-rustdoc/gir-rustdoc.py --project-title 'GTK 4 Rust bindings' html-index --early-section 'Book' '<ul><li><a href="git/book">Development</a></li></ul>'
      - name: deploy index page
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'release' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public/
          keep_files: true
          destination_dir: ./
