name: macOS

on:
  push:
    branches: [master]
    paths:
      - ".github/workflows/macos.yml"
      - "gdk4/**"
      - "gsk4/**"
      - "gtk4/**"
      - "gtk4-macros/**"
  pull_request:
    paths:
      - ".github/workflows/macos.yml"
      - "gdk4/**"
      - "gsk4/**"
      - "gtk4/**"
      - "gtk4-macros/**"
  workflow_dispatch:

jobs:
  ci-macos:
    name: macOS
    runs-on: macos-12 
    steps:
    - uses: actions/checkout@v3
        
    - name: Install GTK
      run: |
        brew install gtk4
        
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        components: clippy
        
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --features v4_8,xml_validation
    - name: Clippy
      uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: --features v4_8,xml_validation
    # FIXME: renable once https://github.com/gtk-rs/gtk4-rs/issues/1235 is fixed
    #- name: Tests
    #  uses: actions-rs/cargo@v1
    #  with:
    #    command: test
    #    args: --features v4_8,xml_validation
